<div class="product">
  <img src="http://placeimg.com/640/480/fashion" alt="" class="product__img" />
  <div class="product__details">
    <div class="product__details--spec">
      <div class="product__details--spec-name">NAME</div>
      <div class="product__details--spec-brand">BRAND</div>
      <div class="product__details--spec-category">CATEGORY</div>
      <div class="product__details--spec-price">PRICE</div>
    </div>
    <div class="product__details--customers_voice">
      <div class="product__details--customers_voice-rating">RATING</div>
      <div class="product__details--customers_voice-reviews">REVIEWS</div>
    </div>
  </div>
</div>
